@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Self Introduction";
}
<h1>J. Brayden Buhler</h1>
<h2>I love spending time with my nephew Ridge</h2>
<img style="width:40%; height:auto;" src="~/img/Pictuer of Me and Ridge.jpg" />
<p>I hope that this class gives me the experience I need to confidently build web apps to build out a portfolio to show employers.</p>
<h2>Jobs I am interested in after graduation:</h2>
<ul>
    <li>Web Developer</li>
    <li>Data Analyst</li>
    <li>Product Manager</li>
</ul>